<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./stylesheets/main.css" rel="stylesheet" />
    <link href="./stylesheets/welcome.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87aaf69dbe.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="./javascripts/welcome.js"></script>
    <title>Головна</title>
</head>

<body>
    <div id="mainContainer">
        <div class="welcomeText">

            <div class="top">
                <span class="primary">Вітаємо, <%= userData.name %>!</span>
                <a class="red" href="/logout"><button>Вихід</button></a>
            </div>
            <p class="secondary"> Тут відображені доступні дії</p>
        </div>
        <% if(admin) { %><script src="./javascripts/admin.js"></script><% } %>
                <div class="projects">
                    <div class="projectContainer lexer">
                        <div class="projectHeader">
                            <span>Лексичні аналізатори</span>
                            <div class="projectEntry addNew">
                                <div class="addButton green">
                                    <button onclick="welcomeUtils.createProject()">Новий проект</button>
                                </div>
                            </div>
                        </div>

                        <div class="projectList">
                            <table>
                                <tr>
                                    <th>
                                        <span class="projectName">Назва</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Дата створення</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Діаграма станів</span>
                                    </th>
                                    <th class="last">
                                        <span class="projectName"></span>
                                    </th>
                                </tr>
                                <% projects.forEach(project=> {%>
                                    <tr>
                                        <td>
                                            <span class="projectName">
                                                <%= project.name %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= project.date %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= project.automaton.name %>
                                            </span>
                                        </td>
                                        <td class="blue last">
                                            <a class="blue" href="/lexer/<%=project._id%>">
                                                <button>Редагувати</button></a>
                                            </a>
                                        </td>
                                    </tr>
                                    <% })%>
                            </table>
                        </div>
                    </div>
                    <div class="projectContainer lexer">
                        <div class="projectHeader">
                            <span>Діаграми станів</span>
                            <div class="projectEntry addNew">
                                <div class="addButton green">
                                    <button onclick="adminUtils.addAutomaton()">Новий проект</button>
                                </div>
                            </div>
                        </div>

                        <div class="projectList">
                            <table>
                                <tr>
                                    <th>
                                        <span class="projectName">Назва</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Дата створення</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Автор</span>
                                    </th>
                                    <th class="last">
                                        <span class="projectName"></span>
                                    </th>
                                </tr>
                                <% automatons.forEach(automaton=> {%>
                                    <tr>
                                        <td>
                                            <span class="projectName">
                                                <%= automaton.name %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= automaton.date %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= automaton.author.name %>
                                            </span>
                                        </td>
                                        <td class="blue last">
                                            <a class="blue" href="/automaton/<%=automaton._id%>">
                                                <button>Редагувати</button></a>
                                            </a>
                                        </td>
                                    </tr>
                                    <% })%>
                            </table>
                        </div>
                    </div>
                    <div class="projectContainer lexer">
                        <div class="projectHeader">
                            <span>Користувачі</span>
                            <div class="projectEntry addNew">
                                <div class="addButton green">
                                    <button onclick="adminUtils.addUser()">Додати</button>
                                </div>
                            </div>
                        </div>

                        <div class="projectList">
                            <table>
                                <tr>
                                    <th>
                                        <span class="projectName">Група</span>
                                    </th>
                                    <th>
                                        <span class="projectName">ПІБ</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Пошта</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Створено</span>
                                    </th>
                                    <th>
                                        <span class="projectName">Роль</span>
                                    </th>
                                    <th class="last">
                                        <span class="projectName"></span>
                                    </th>
                                </tr>
                                <% users.forEach(user=> {%>
                                    <tr>
                                        <td>
                                            <span class="projectName">
                                                <%= user.group %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= user.name %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= user.email %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= user.date %>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="projectName">
                                                <%= user.role %>
                                            </span>
                                        </td>
                                        <td class="blue last">
                                            <a class="blue" href="/user/<%=user._id%>">
                                                <button>Редагувати</button></a>
                                            </a>
                                        </td>
                                    </tr>
                                    <% })%>
                            </table>
                        </div>
                    </div>
                </div>



    </div>
</body>

</html>